:root {
    /*cores*/
--Green: hsl(75, 94%, 57%);
--White-10: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--font-principal:"Inter", serif;
--borda:border-radius: 20px;
--mobile:375px;
}
body{
    display: grid;
    grid-template-columns: 313px 390px 320px;
    grid-template-rows: 6% 100% 8%;
    background-color: var(--Grey-900);
}
h1, h3 , p, .btn{
    font-family: var(--font-principal);
    color: var(--White-10);
}
.conteiner{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 2;
    grid-row: 2;
    background-color: var(--Grey-800);
    border-radius: 20px;
    align-items: center;
    height: fit-content;
    padding: 30px 40px;
}
.attribution{
    grid-column: 2;
    grid-row: 3;
}
.btn{
    background-color: var(--Grey-700);
    width: 100%;
    height: 70px;
    border-radius: 10px;
    border: 2px solid var(--Grey-700);
    margin-bottom: 20px;
    font-size: 20px;
    color: var(--White-10);
    font-weight: 400;
}
.btn:hover{
    color: var(--Green);
    border-color: var(--Green);
    background-color: transparent;
}
p{
    color: var(--Green);
    font-weight: 700;
}
h3{
    font-weight: 400;
}
img{
    border-radius: 100%;
    width: 130px;
    padding-top: 20px;
}
@media only screen and  (max-width:375px ) {
    body{
        grid-template-columns: auto;
        grid-template-rows: auto;
    }
    
}

@media only screen and  (max-width:800px ) {
    body{
        grid-template-columns: 170px 390px 320px;
        grid-template-rows: 9% 100% 10%;
    }
    
}

@media only screen and  (max-width:573px ) {
    body{
        grid-template-columns: 7% 388px 10%;
        grid-template-rows: 9% 100% 10%;
    }
    
}
